/* icon and page styling */
.logo a:hover {
    text-shadow: 0 0 5px #ffFAFA;
    filter: dropshadow(color=#ffFAFA, offx=2, offy=2)
  }
 
 
 
body.bg-black {
    background: #ff7e30;
}
 
/* content */
 
.hero {
    display: grid;
    /* grid-template-columns: auto 2fr 1fr;
    grid-auto-flow: column; */
    grid-gap: 20px;

    grid-template-areas: "portrait bio contact";
}

#portrait {
    height: auto;
    width: 400px;

    grid-area: portrait;
}

.bio {
    grid-area: bio;
}

.contact {
    grid-area: contact;
}
 
.hero p, a {
    line-height: 30px;
}
 
.contact-container {
    display: flex;
    flex-direction: column;
}
 
.contact a, .contact p {
    font-size: 1em;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
 
.highlight {
    font-size: 1.2em;
    font-weight: 700;
}

@media (max-width: 1000px) {
    #portrait {
        width: 350px;
    }

    .hero {
        grid-template-areas: "portrait bio contact";
    }

    .hero p {
        font-size: 1em;
    }
}

@media (max-width: 885px) {
    .hero {
        grid-template-areas: "portrait portrait portrait"
                            "bio bio contact";
    }
}

@media (max-width: 700px) {
    .hero {
        grid-template-areas: "portrait portrait"
                            "bio bio"
                            "contact contact";
    }
}


